.carousel-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 8px;
    top: 0;
    height:100%;
}

/* Horizontal track container utilizing flexbox */
.carousel-track {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; /* Forces alignment hooks */
    scrollbar-width: none; /* Hides default scrollbar on Firefox */
    width:85%;
}

/* Hide scrollbars for Chrome, Safari, and Opera */
.carousel-track::-webkit-scrollbar {
    display: none;
}

/* Individual slides taking full width */
.carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start; /* Tells slide where to snap */
    display: flex;
    justify-content: space-between;
}

.carousel-slide img {
    width: 70%;
    display: block;
    object-fit: cover;
    height: 70%;
}

/* Styling the control overlays */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: var(--navy);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.3s;
    width: 50px;
    height: 50px;
    opacity: 0.2;
}

.carousel-btn:hover {
    background-color: var(--gold);
    transition: background-color 0.3s;
    color: white;
    opacity: 1;
}

.carousel-div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height:100%;
    position: relative;
    top: 0;
}

.prev { left: 15px; }
.next { right: 15px; }

/* Container for the dots */
.carousel-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Spacing between dots */
    z-index: 10;
}

/* Base dot styling */
.dot {
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent */
    border-radius: 50%; /* Perfect circle */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Active dot styling */
.dot.active {
    background-color: #ffffff; /* Solid white */
    transform: scale(1.2);    /* Slightly larger to stand out */
}